{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container mt-4">
        <h2>Change Password</h2>
        <div class="card mt-4 mb-4">
            <div class="card-body">
                <!-- Change Password Form -->
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="text-center">
                        {% bootstrap_button 'Save' button_type="submit" button_class="btn-primary" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}